/* General Styling */
body {
    background-color: #e0e2eb;
    font-family: 'Nunito', sans-serif;
    color: #19303B; /* Default text color */
}

h1, h2, h3, h4, h5, h6, p {
    color: #19303B; /* Blue color */
}

/* Navbar Styling */
nav .navbar-brand {
    font-size: xx-large;
    margin: 0 30px 0 20px;
}

nav .navbar-brand .blue {
    color: #ffffff;
}

.navbar {
    background-color: #20338a;
    border-bottom: 8px solid #1668ff;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
    color: #ffffff;
}

/* Table Styling */
.table {
    margin-bottom: 10px; /* Adds bottom margin between tables */
    width: 100%;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
}

.table-responsive-desktop {
    max-height: 620px; /* Adjust as needed */
    overflow-y: auto;
}


.table-responsive-mobile {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #455769;
}

.table th {
    font-size: 17px; /* Font size for table headers */
    font-weight: bold; /* Make table headers bold */
    background-color: #ffffff; /* Background color for headers */
    color:#19303B;
    vertical-align: middle;
}

.table td {
    font-size: 16px; /* Font size for table cells */
    vertical-align: middle;
    white-space: nowrap;
    color:#19303B;
}

.table-date-header {
    font-weight: bold;
    text-align: center;
}

/* For colouring the score if the prediction was wrong */
.prediction-wrong {
    color: rgb(128, 128, 128);
}

/* For colouring the points if the prediction was right */
.sub-correct {
    color: rgb(187, 0, 0);
}


/* Special Columns */
.custom-column-1 {
    width: 2%; /* Width of column 1 */
}

/* Headers */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Ensure background color for sticky effect */
    border-bottom: 2px solid #19303B; /* Border at the bottom of header */
}


/* Logo Styling */
.team-logo, .team-logo-small {
    object-fit: cover;
    border-radius: 50%; /* Rounded corners */
    border: 1px solid #cfcece;
}

.team-logo {
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-right: 2px;
}

.team-logo-small {
    width: 20px;
    height: 20px;
}

/* Alignment Classes */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Additional Classes */


.score-input {
    width: 43px; /* Adjust width as needed */
    text-align: center; /* Center text within input */
    display: inline-block; /* Ensures inputs stay on the same line */
}

.form-control.score-input {
    width: 40px; /* Adjust width as needed */
}

.btn-container {
    text-align: right;
    margin-top: 10px; /* Adjust as needed */
}

.last-update {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}

.team-name {
    font-weight: bold; /* Make team names bold */
}


/* Index route formatting */
.card-text, .stats {
    display: flex;
}
.stats {
    margin-bottom: 0.1rem;
}

/* Responsive Design */

/* Card Wrapper for Mobile */
.card-wrapper {
    display: none; /* Hide by default */
}

@media (max-width: 300px) {
    .table-wrapper {
        display: none; /* Hide table on small screens */
    }
    .card-wrapper {
        display: block; /* Show card layout on small screens */
    }
    .card {
        margin-bottom: 1rem;
    }
}

@media (min-width: 200px) {
    .card-wrapper {
        display: none; /* Hide card layout on larger screens */
    }
}
