{% extends "layout.html" %}

{% block title %}
    Regeln
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-6">
      <div class="card rounded-4">
        <div class="card-body">
          <h4 class="card-title">Tippabgabe</h4>
          <p class="card-text"> Getippt wird das genaue Ergebnis. <br>Die Tippabgabe ist bis Spielanpfiff möglich.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card rounded-4">
        <div class="card-body">
          <h4 class="card-title">Punkteverteilung</h4>
          <p class="card-text">Richtiges Ergebnis: 4 Punkte <br>
            Richtiges Torverhältnis: 3 Punkte <br>
            Richtige Tendenz: 2 Punkte <br>
        </p>
        </div>
      </div>
    </div>
  </div>




{% endblock %}