{% extends "layout.html" %}

{% block title %}
    Tippen
{% endblock %}

{% block main %}

<div class="pagination">
    <ul class="pagination">
        {% if prev_matchday %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tippen', matchday=prev_matchday) }}"><i class="fa-solid fa-caret-left"></i></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-caret-left"></i></a>
            </li>
        {% endif %}
        <li class="page-item dropdown">
            <a class="page-link" href="#" role="button" id="dropdownMatchday" data-bs-toggle="dropdown" aria-expanded="false"> {{ matches[0].formatted_matchday }}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMatchday">
                <!-- dropdown items -->
                {% for matchday in matchdays_formatted %}
                    <li><a class="dropdown-item" href="{{ url_for('tippen', matchday=loop.index) }}">{{ matchday }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% if next_matchday %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tippen', matchday=next_matchday) }}"><i class="fa-solid fa-caret-right"></i></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-caret-right"></i></a>
            </li>
        {% endif %}
    </ul>
</div>


<form action="/tippen" method="post">
    
<!-- Desktop/Tablet View -->
<div class="table-responsive-desktop d-none d-md-block">
    <table class="table">
        <tbody>
            {% for match_date, matches in matches_by_date.items() %}
                    <td class="table-date-header bottom-top"></td>
                    <td colspan="5" class="table-date-header bottom-top">
                        {{ match_date }}
                    </td>
                    <td class="table-date-header bottom-top"></td>
                {% for match in matches %}
                    <tr>
                        <td class="text-center">{{ match.time }}</td>
                        <td class="text-right">{{ match.team1.teamName }}</td>
                        <td><img src="{{ match.team1.teamIconPath }}" alt="{{ match.team1.teamName }}-logo" class="team-logo"></td>
                        <td>
                            {% if match.matchIsFinished == 1 %}
                                <strong>{{ match.team1_score }}&nbsp;:&nbsp;{{ match.team2_score }}</strong>
                            {% else %}
                                <strong>- : -</strong>
                            {% endif %}
                        </td>
                        <td><img src="{{ match.team2.teamIconPath }}" alt="{{ match.team2.teamName }}-logo" class="team-logo"></td>
                        <td class="text-left">{{ match.team2.teamName }}</td>
                        <td class="text-center">
                            <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="team1Score_{{ match.id }}" name="team1Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team1_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                            <strong>:</strong>
                            <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="team2Score_{{ match.id }}" name="team2Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team2_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                        </td>
                    </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Mobile View -->
<div class="table-responsive d-md-none">
    <table class="table">
        <tbody>
            {% for match_date, matches in matches_by_date.items() %}
                <tr>
                    <td class="table-date-header bottom-top"></td>
                    <td colspan="6" class="table-date-header bottom-top">
                        {{ match_date }}
                    </td>
                    <td class="table-date-header bottom-top"></td>
                </tr>
                {% for match in matches %}
                    <tr>
                        <td class="text-center">{{ match.time }}</td>
                        <td class="text-right">{{ match.team1.teamName }}</td>
                        <td colspan="4" class="text-center">
                            {% if match.matchIsFinished == 1 %}
                                <strong>{{ match.team1_score }}&nbsp;:&nbsp;{{ match.team2_score }}</strong>
                            {% else %}
                                <strong>- : -</strong>
                            {% endif %}
                        </td>
                        <td class="text-left">{{ match.team2.teamName }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="6" class="text-center">
                            <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="team1Score_{{ match.id }}" name="team1Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team1_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                            <strong>:</strong>
                            <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="team2Score_{{ match.id }}" name="team2Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team2_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .bottom-top{
        border-top: 2px solid rgb(149, 149, 149);
    }
</style>

<div style="display: flex; justify-content: space-between;">
        <p class="last-update">Stand: {{ last_update }}</p>
        <button type="submit" class="btn btn-primary btn-container">Speichern</button>
    </div>
</form>


{% endblock %}
